<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="594717104883-vg999jqm2d0v3qsclbbo6q57bpqfsov4.apps.googleusercontent.com">
    
    <link rel="shortcut icon" type="image/svg" href="./images/favi.svg">
    <link rel="stylesheet" href="css/style.css">
    <title>interChat</title>

</head>
<body>
    <div class="main col-sm-7 col-md-6 col-lg-4" id="container">
        <div class="alert alert-warning float col-sm-6 col-md-5 col-lg-3 col-10" role="alert">
            <span></span>
           <button type="button" class="close" onclick="dis()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>

        <div class="nav-body" id="head">
            <div class="head">
                <h3 >interChat</h3>
                <div class="d3">  
                    <div class="dropdown">
                        <svg class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="currentColor" d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path>
                        </svg>
                        <div class="dropdown-menu mydrop" aria-labelledby="dropdownMenuButton">
                          <div class="dropdown-item" onclick="signOut()" >Sign out</div>
                          <div class="dropdown-item">about 
                            <a href="https://github.com/ShashankKNaik?tab=repositories" class="fa fa-github"></a>
                            <a href="https://www.linkedin.com/in/shashank-krishna-naik-467485207/" class="fa fa-linkedin"></a>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="nav">
                <a href="#" class="col-4 active"><li>friends</li></a>
                <a href="/friendreq" class="col-4"><li>requests</li></a>
                <a href="/reqsent" class="col-4"><li>search</li></a>
            </div>
        </div>
        <div class="list" id="body">
            <% var data=JSON.parse(details) %>
            <% if(data!='' && data!=null) { %>
                <% data.forEach(function(data){ %>
            <div class="fri" style="display: flex;align-items: center;" onclick="setCookie('<%= data.img %>','<%= data.fname %>','<%= data.email %>');location.href='/chats'">
                <img src=<%= data.img %> alt="Loading..">
                <div>
                    <h5><%= data.fname %></h5>
                    <p style="font-size:small;"><%= data.email %></p>
                </div>
            </div>
            <% })}else if(data==''){ %>
                <div id="signin">
                    <img src="./images/pointer.svg" alt="Loading...." onerror="this.src='./images/pointer.png'">
                    
                    <div class="login" style="text-align: center;width: 80%;">
                        <h4>
                            don't have any friend 😕. <br>Search and send follow request in pointed section 😇.
                        </h4>
                    </div>
                </div>
            <%}else{ %>
                <div id="signin">
                    <div class="login">
                        <img src="./images/em4.png" alt="Loading...." style="width: 70px;height: 70px;top: 8px;"><br><br><br>
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        <!-- <a href="#" class="sout" onclick="signOut();">Sign out</a> -->
                    </div>
                </div>
            <% }%>
            
        </div>
    </div>
    <div class="g-signin2" data-onsuccess="onLogIn" style="display: none;"></div>
</body>

<script src="./js/home.js"></script>
</html>
